---
Checks:          'clang-diagnostic-*,clang-analyzer-*,cert-*,cppcoreguidelines-*,google-*,llvm-*,misc-*,modernize-*,performance-*,portability-*,readility-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-llvm-header-guard,-llvm-include-order,-clang-diagnostic-missing-braces,-misc-misplaced-widening-cast,-cppcoreguidelines-avoid-magic-numbers,-modernize-use-trailing-return-type,-cppcoreguidelines-avoid-c-arrays,-modernize-avoid-c-arrays,-cppcoreguidelines-pro-bounds-constant-array-index'
WarningsAsErrors: ''
HeaderFilterRegex: 'src/include/coati'
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            reed
CheckOptions:
  - key:             cert-oop11-cpp.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             performance-move-const-arg.CheckTriviallyCopyableMove
    value:           'true'
  - key:             cppcoreguidelines-owning-memory.LegacyResourceConsumers
    value:           '::free;::realloc;::freopen;::fclose'
  - key:             modernize-use-auto.MinTypeNameLength
    value:           '5'
  - key:             cppcoreguidelines-no-malloc.Reallocations
    value:           '::realloc'
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-dcl51-cpp.AggressiveDependentMemberLookup
    value:           'false'
  - key:             cppcoreguidelines-macro-usage.CheckCapsOnly
    value:           'false'
  - key:             cert-err61-cpp.MaxSize
    value:           '8'
  - key:             modernize-use-default-member-init.UseAssignment
    value:           'false'
  - key:             cert-dcl37-c.AllowedIdentifiers
    value:           ''
  - key:             google-readability-function-size.BranchThreshold
    value:           '4294967295'
  - key:             llvm-namespace-comment.ShortNamespaceLines
    value:           '1'
  - key:             llvm-namespace-comment.SpacesBeforeComments
    value:           '1'
  - key:             modernize-use-override.AllowOverrideAndFinal
    value:           'false'
  - key:             modernize-pass-by-value.ValuesOnly
    value:           'false'
  - key:             modernize-loop-convert.IncludeStyle
    value:           llvm
  - key:             cert-str34-c.DiagnoseSignedUnsignedCharComparisons
    value:           'false'
  - key:             cppcoreguidelines-explicit-virtual-functions.AllowOverrideAndFinal
    value:           'false'
  - key:             google-readability-function-size.ParameterThreshold
    value:           '4294967295'
  - key:             cert-err61-cpp.WarnOnLargeObjects
    value:           'false'
  - key:             cert-err09-cpp.WarnOnLargeObjects
    value:           'false'
  - key:             modernize-use-emplace.TupleTypes
    value:           '::std::pair;::std::tuple'
  - key:             modernize-use-emplace.TupleMakeFunctions
    value:           '::std::make_pair;::std::make_tuple'
  - key:             cppcoreguidelines-owning-memory.LegacyResourceProducers
    value:           '::malloc;::aligned_alloc;::realloc;::calloc;::fopen;::freopen;::tmpfile'
  - key:             cppcoreguidelines-narrowing-conversions.WarnOnFloatingPointNarrowingConversion
    value:           'true'
  - key:             cppcoreguidelines-init-variables.IncludeStyle
    value:           llvm
  - key:             modernize-use-nodiscard.ReplacementString
    value:           '[[nodiscard]]'
  - key:             misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           'true'
  - key:             modernize-replace-random-shuffle.IncludeStyle
    value:           llvm
  - key:             modernize-loop-convert.MakeReverseRangeHeader
    value:           ''
  - key:             modernize-use-bool-literals.IgnoreMacros
    value:           'true'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             misc-definitions-in-headers.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             modernize-use-override.FinalSpelling
    value:           final
  - key:             modernize-avoid-bind.PermissiveParameterList
    value:           'false'
  - key:             cert-err09-cpp.MaxSize
    value:           '8'
  - key:             performance-move-constructor-init.IncludeStyle
    value:           llvm
  - key:             modernize-loop-convert.UseCxx20ReverseRanges
    value:           'true'
  - key:             modernize-use-noexcept.ReplacementString
    value:           ''
  - key:             modernize-use-using.IgnoreMacros
    value:           'true'
  - key:             cert-oop57-cpp.MemSetNames
    value:           ''
  - key:             google-readability-function-size.LineThreshold
    value:           '4294967295'
  - key:             performance-type-promotion-in-math-fn.IncludeStyle
    value:           llvm
  - key:             cppcoreguidelines-explicit-virtual-functions.FinalSpelling
    value:           final
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             cppcoreguidelines-pro-type-member-init.UseAssignment
    value:           'false'
  - key:             modernize-loop-convert.MakeReverseRangeFunction
    value:           ''
  - key:             performance-no-automatic-move.AllowedTypes
    value:           ''
  - key:             performance-for-range-copy.WarnOnAllAutoCopies
    value:           'false'
  - key:             google-runtime-int.UnsignedTypePrefix
    value:           uint
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             cppcoreguidelines-explicit-virtual-functions.OverrideSpelling
    value:           override
  - key:             google-global-names-in-headers.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - key:             cert-dcl59-cpp.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             modernize-make-shared.IgnoreMacros
    value:           'true'
  - key:             performance-unnecessary-copy-initialization.AllowedTypes
    value:           ''
  - key:             cppcoreguidelines-macro-usage.AllowedRegexp
    value:           '^DEBUG_*'
  - key:             modernize-use-transparent-functors.SafeMode
    value:           'false'
  - key:             cppcoreguidelines-narrowing-conversions.PedanticMode
    value:           'false'
  - key:             modernize-make-shared.IgnoreDefaultInitialization
    value:           'true'
  - key:             misc-throw-by-value-catch-by-reference.CheckThrowTemporaries
    value:           'true'
  - key:             modernize-make-shared.IncludeStyle
    value:           llvm
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value:           'false'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           'false'
  - key:             cert-err09-cpp.CheckThrowTemporaries
    value:           'true'
  - key:             cert-dcl51-cpp.Invert
    value:           'false'
  - key:             modernize-make-shared.MakeSmartPtrFunction
    value:           'std::make_shared'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             performance-inefficient-vector-operation.EnableProto
    value:           'false'
  - key:             google-build-namespaces.HeaderFileExtensions
    value:           ',h,hh,hpp,hxx'
  - key:             portability-simd-intrinsics.Suggest
    value:           'false'
  - key:             cppcoreguidelines-pro-bounds-constant-array-index.GslHeader
    value:           ''
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           'true'
  - key:             modernize-make-unique.IgnoreMacros
    value:           'true'
  - key:             modernize-make-shared.MakeSmartPtrFunctionHeader
    value:           memory
  - key:             performance-for-range-copy.AllowedTypes
    value:           ''
  - key:             modernize-use-override.IgnoreDestructors
    value:           'false'
  - key:             misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value:           'false'
  - key:             modernize-make-unique.IgnoreDefaultInitialization
    value:           'true'
  - key:             modernize-use-emplace.ContainersWithPushBack
    value:           '::std::vector;::std::list;::std::deque'
  - key:             modernize-make-unique.IncludeStyle
    value:           llvm
  - key:             modernize-use-override.OverrideSpelling
    value:           override
  - key:             google-readability-function-size.NestingThreshold
    value:           '4294967295'
  - key:             performance-inefficient-string-concatenation.StrictMode
    value:           'false'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             modernize-make-unique.MakeSmartPtrFunction
    value:           'std::make_unique'
  - key:             cppcoreguidelines-pro-type-member-init.IgnoreArrays
    value:           'false'
  - key:             google-runtime-int.TypeSuffix
    value:           ''
  - key:             cert-dcl51-cpp.AllowedIdentifiers
    value:           ''
  - key:             modernize-use-emplace.IgnoreImplicitConstructors
    value:           'false'
  - key:             cert-oop57-cpp.MemCpyNames
    value:           ''
  - key:             modernize-make-unique.MakeSmartPtrFunctionHeader
    value:           memory
  - key:             portability-restrict-system-includes.Includes
    value:           '*'
  - key:             modernize-use-equals-delete.IgnoreMacros
    value:           'true'
  - key:             cppcoreguidelines-pro-bounds-constant-array-index.IncludeStyle
    value:           llvm
  - key:             cppcoreguidelines-macro-usage.IgnoreCommandLineMacros
    value:           'true'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnorePublicMemberVariables
    value:           'false'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             performance-unnecessary-value-param.AllowedTypes
    value:           ''
  - key:             misc-definitions-in-headers.UseHeaderFileExtension
    value:           'true'
  - key:             cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
    value:           'false'
  - key:             cert-oop57-cpp.MemCmpNames
    value:           ''
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             misc-throw-by-value-catch-by-reference.MaxSize
    value:           '8'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           'true'
  - key:             cppcoreguidelines-no-malloc.Allocations
    value:           '::malloc;::calloc'
  - key:             modernize-use-noexcept.UseNoexceptFalse
    value:           'true'
  - key:             performance-faster-string-find.StringLikeClasses
    value:           'std::basic_string'
  - key:             cert-err61-cpp.CheckThrowTemporaries
    value:           'true'
  - key:             google-readability-function-size.VariableThreshold
    value:           '4294967295'
  - key:             modernize-use-default-member-init.IgnoreMacros
    value:           'true'
  - key:             llvm-qualified-auto.AddConstToQualified
    value:           'false'
  - key:             cppcoreguidelines-init-variables.MathHeader
    value:           '<math.h>'
  - key:             google-runtime-int.SignedTypePrefix
    value:           int
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             llvm-else-after-return.WarnOnConditionVariables
    value:           'false'
  - key:             cert-msc51-cpp.DisallowedSeedTypes
    value:           'time_t,std::time_t'
  - key:             cert-str34-c.CharTypdefsToIgnore
    value:           ''
  - key:             modernize-raw-string-literal.DelimiterStem
    value:           lit
  - key:             modernize-use-equals-default.IgnoreMacros
    value:           'true'
  - key:             misc-throw-by-value-catch-by-reference.WarnOnLargeObjects
    value:           'false'
  - key:             cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor
    value:           'false'
  - key:             cert-dcl37-c.Invert
    value:           'false'
  - key:             cert-dcl37-c.AggressiveDependentMemberLookup
    value:           'false'
  - key:             modernize-raw-string-literal.ReplaceShorterLiterals
    value:           'false'
  - key:             modernize-use-emplace.SmartPointers
    value:           '::std::shared_ptr;::std::unique_ptr;::std::auto_ptr;::std::weak_ptr'
  - key:             cppcoreguidelines-no-malloc.Deallocations
    value:           '::free'
  - key:             modernize-use-auto.RemoveStars
    value:           'false'
  - key:             performance-inefficient-vector-operation.VectorLikeClasses
    value:           '::std::vector'
  - key:             portability-simd-intrinsics.Std
    value:           ''
  - key:             performance-unnecessary-value-param.IncludeStyle
    value:           llvm
  - key:             misc-unused-parameters.StrictMode
    value:           'false'
  - key:             cert-dcl16-c.IgnoreMacros
    value:           'true'
  - key:             modernize-replace-disallow-copy-and-assign-macro.MacroName
    value:           DISALLOW_COPY_AND_ASSIGN
  - key:             llvm-else-after-return.WarnOnUnfixable
    value:           'false'
  - key:             cert-msc32-c.DisallowedSeedTypes
    value:           'time_t,std::time_t'
...
